{% extends 'base.html' %}{% load subfilter %} {% load static %}
{% block title %}
Teacher's Salary
{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<!--<link rel="stylesheet"  href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"  >-->
<link rel="stylesheet"  href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" >
<style>
    .dataTables_filter > label > input{
    background:light;
    auto-focus:true;
    border-radius:6px;
    }
    .dt-buttons > Button{
    background:light;
    margin-top:5px;
    margin-bottom:0px;
    padding-top:3px;
    border-radius:6px;
    }
    .h{
    color:blue;
    }
</style>

<style>
.btnclass {
	background-color: lightblue;
	border-radius: 6px;
	width: 64px;
	align: left;
	height: 34px;
}

.btnclassdanger {
	background-color: lightcoral;
	border-radius: 6px;
	width: 64px;
	align: left;
	height: 34px;
}
</style>
<script src="https://unpkg.com/htmx.org@1.8.0"></script>
<div class="mmain">
	<div class="row">
		<div class="col-lg-6 col-md-12 h-25 text-info page-link rounded">
			<label for="idmonth">Month:</label>
			<select class="round" name="month" id="idmonth">

				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">december</option>
			</select>
			<label for="idyear">Year : </label>
			<select class="round" name="Year" id="idyear">

				<option value="2022">2022</option>
				<option value="2023">2023</option>
				<option value="2024">2024</option>
				<option value="2025">2025</option>
				<option value="2026">2026</option>
				<option value="2027">2027</option>
				<option value="2028">2028</option>
				<option value="2029">2029</option>
				<option value="2010">2030</option>
				<option value="2031">2031</option>
				<option value="2031">2032</option>
				<option value="2031">2033</option>
				<option value="2031">2034</option>
				<option value="2031">2035</option>
				<option value="2031">2036</option>
			</select>
			<button  class="btnjan float-right btn btn-primary w-20 " onclick="record()">show</button>
		</div>
	<div class="col-lg-6 col-md-12 h-25 float">
			<div class="card bg-gray page-link row p-auto">
				<h1>RS. {{paidamount}} / {{unpaidamount}}</h1>
				<h1></h1>

		</div>
	</div>
		</div>

	<div style="border-radius:9px;" class="bg-white table-responsive">
		<table class="table table-hover example ">
			<thead>
				<tr >
					<th class="text-primary" >Imam Name</th>
					<th class="text-primary">Salary</th>
					<th class="text-primary">Teacher</th>
					<th class="text-primary">Imam</th>
					<th class="text-primary">Month</th>
					<th class="text-primary">Year</th>
					<th class="text-primary">Status</th>
				</tr>
			</thead>
			<tbody>
			{% for teachdon in teachdonlist %}
				<tr class="tochange">
					<td> <span class="badge badge-pill badge-light-primary"> {{forloop.counter}} </span><b></b><b></b> <span class="font-weight-bold  "><a href="{% url 'teachdonerdetail' teachdon.id %}"> {{teachdon.name|title}}</a></span> </td>

					<td class="kilo" id="{{teachdon.id}}" >
						<span style="display:none;">{{teachdon.amount}}/{{teachdon.name.salary}}</span>
						{% if teachdon.amount < teachdon.name.salary %}

						<input type="number"  class="border-danger rounded clfee text-danger" style="width:50px;" value="{{teachdon.name.salary|substract:teachdon.amount}}"></td>
						{% elif teachdon.amount > teachdon.name.salary %}
						<input type="number"  class="border-success rounded clfee text-success" style="width:50px;" value="{{teachdon.amount}}"> + {{teachdon.amount|substract:teachdon.name.salary}}</td>

						{% else %}

						<input  type="number"  class="border-light rounded clfee " style="width:50px;" value="{{teachdon.amount}}"></td>
					{% endif %}
					<td>
						<span style="display:none;">{{teachdon.name.is_teacher}}</span>

						<input readonly type="checkbox" name="is_imam" value="closed" {% if teachdon.name.is_teacher %} checked {% else %}  {% endif %}>
					</td><td>
					<span style="display:none;">{{teachdon.name.is_imam}}</span>
						<input readonly type="checkbox" name="is_imam" value="closed" {% if teachdon.name.is_imam %} checked {% else %}  {% endif %}>


					</td>



					<td>
						<div class="avatar-group"> <span>{{teachdon.month}}</span> </div>
					</td>
					<td><span class=" badge-light-primary mr-1 yar">{{teachdon.year}}</span></td>
					<td>
						<div class="bodyyt">


							{% if teachdon.amount < teachdon.name.salary %}

							<button  type="button"   class='p-0 border-0  btnclass' style="background:red;"   onclick="show({{teachdon.id}})"> Pay </button>
							{% else %}
							<button  type="button"   class='p-0 border-0  btnclass' style="background:gren;"><a href="{% url 'teachdonerdetail' teachdon.id %}"> Paid </a></button>
							{% endif %}

                        </div>

	                </td>
	            </tr>
			 {% endfor %}
	</tbody>

    </table>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static '/js/jquery.js' %}"></script>

<script>





		function show(id) {
		var userid=id;

		let input = document.getElementById(userid)
		input= $(input).children('input');
		let amount = input.val();


		console.log("this is amount "+amount)
		var ch=document.getElementsByClassName(userid)
		var url="/teachdonerpaid/"+ userid + "/" + amount ;

			$.ajax({
			   type: 'GET',
			   url: url,
			   success:function(data){window.location.reload(); },
			   error:function(err){ console.log(err)},
  });

		}



	function record(){

			m = document.getElementById("idmonth").value;
			y = document.getElementById("idyear").value;
			var month = m;
			var year = y;

			var url="/teachdonerlist/" + month + "/" + year;
			window.location.href = url;





			};





</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script>

   $(document).ready(function() {
   $.noConflict(true);

    $('.example').DataTable( {

        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );

</script>

{% endblock %}