{% extends 'base.html' %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<section id="input-sizing">
	<div class="row match-height">
		<div class="col-md-6 col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Add New Student</h4> </div>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<form method='POST' novalidate>
                                {% csrf_token %}
                                    {% if form.messages %}
                                        {% for m in form.messages %}
                                            <h1>{{m}}</h1>
                                        {% endfor %}
                                    {% endif %}
                                {% if form.errors %}
                                    {% for error in form.errors %}
                                        <h5>{{error}}</h5>
                                    {% endfor %}
                                {% endif %}
                                    {{form.name.errors}}
                                    {{form.name.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{form.name}}
								<br>
								<br> {{form.f_name.errors}}
								{{form.f_name.label_tag}} &nbsp;&nbsp;&nbsp;
								{{form.f_name}}
								<br>
								<br> {{form.father_cnic.errors}}
								F cnic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{{form.father_cnic}}
								<br><br>

                                {{form.address.errors}}
								                                   {{form.address.label_tag}}&nbsp;&nbsp;&nbsp;
								                                   {{form.address}}
								<br>
								<br> {{form.fee.errors}}
								{{form.fee.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{{form.fee}}
								<br>
								<br> {{form.birthdate.errors}}
								{{form.birthdate.label_tag}} &nbsp;
								{{form.birthdate}}
								<br>
								<br>
								<span>
                                    {{form.grade.errors}}
                                       {{form.grade.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       {{form.grade}}
							</span>
								<br><br>
                                <span>
                                    {{form.admission_date.errors}}
                                       adm_date
                                       {{form.admission_date}}
							</span>
								<br><br>
                                <span>
                                    {{form.adm_month.errors}}
                                       {{form.adm_month.label_tag}}
                                       {{form.adm_month}}
							</span>
								<br>
								<br>
                                <span>
                                    {{form.adm_year.errors}}
                                       {{form.adm_year.label_tag}}&nbsp;&nbsp;
                                       {{form.adm_year}}
							</span>
								<br>
								<br>
								{{form.courses.errors}}
								{{form.courses.label_tag}}
								<span class="page-link">
                                            {{form.courses}}
                                          <a href="{% url 'admcreatecourses' %}">Add New </a>
                                        </span>
								<br>
								{% if not request.user.is_superuser %}
                                       <span style="display:none;">
                                         {{form.educenter.errors}}
                                       {{form.educenter.label_tag}}
                                       {{form.educenter}}
                                      </span>
								{% else %}
								   </span>
                                         {{form.educenter.errors}}
                                       {{form.educenter.label_tag}}
                                       {{form.educenter}}
                                      </span>
								{% endif %}

								 {{form.admission_date.errors}} adm date {{form.admission_date}}
								<br><br>
								<input type="submit" value="Save" class="btn-primary btn"> </input>
							</form> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</form>
<script>
$(document).ready(function() {
	var coursesdropdown = new Choices('#id_courses', {
		removeItemButton: true,
		searchResultLimit: 5,
		placeholder: "Select Courses",
		renderChoiceLimit: 5
	});
	var coursesdropdown = new Choices('#id_educenter', {
		placeholder: "Select Educenter",
		removeItemButton: true,
		searchResultLimit: 5,
		renderChoiceLimit: 5
	});
});
</script>
{% endblock %}