{% extends 'base.html' %}
{% load subfilter %}
{% load static %}
{% block title %}
Total Revenue
{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<!--<link rel="stylesheet"  href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"  >-->
<link rel="stylesheet"  href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" >
<style>
    .dataTables_filter > label > input{
    background:light;
    auto-focus:true;
    border-radius:6px;
    }
    .dt-buttons > Button{
    background:light;
    margin-top:5px;
    margin-bottom:0px;
    padding-top:3px;
    border-radius:6px;
    }
    .h{
    color:blue;
    }
</style>

    <div style="border-radius:9px;" class="bg-white table-responsive  float-center ">
		<table class="table table-hover example">
			<thead>
				<tr >
					<th class="text-primary" >Educenter</th>
					<th class="text-primary">balance</th>


				</tr>
			</thead>
			<tbody>
			{% for i in rev %}
			<tr>
				<td>{{i.educenter}}</td>
				<td>{{i.balance}}</td>

			</tr>
			{% endfor %}
			{{total}}
			</tbody>
			</table>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script>

   $(document).ready(function() {
   $.noConflict(true);

    $('.example').DataTable( {

        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );

</script>

{% endblock %}